$primary-color: #ff4338;
$red-color: #f2352a;
$gray-color: #898c90;
$black-color:#131921;
$white-color: #fff;
$yellow-color: #fdd91c;

$font-family: "Euclid Flex", sans-serif;
$second-family: "Roboto", sans-serif;