@use "../../styles/mixins.scss" as *;

.actions {
  padding: 13px 25px;
  display: flex;
  align-items: center;
  gap: 25px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.8);
  @include respond("tablet") {
    padding: 6px 10px;
    gap: 20px;
  }
  &__item {
    @include respond("tablet") {
      width: 22px;
      height: 22px;
    }
  }
}